.App {
  text-align: center;
  height: 100%;
  margin: auto;
  width: 600px !important;
}

.App-header {
  background-color: #222;
  height: 32px;
  color: white;
}

@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
  
}